# Fichiers à ignorer  
__pycache__/  
*.py[cod]  
*$py.class  

# Environnements virtuels  
venv/  
env/  
.venv/  

# Fichiers de configuration IDE  
.vscode/  
.idea/  

# Fichiers de logs  
*.log  

# Fichiers temporaires  
.temp/  
